<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
       >

     <!-- Turn on HostPrecedingPropertyPlaceholderConfigurer -->
     <!-- http://jdwyah.blogspot.com/2006/12/updated-spring-configuration.html -->
     <bean id="propertyConfigurer" class="com.spicy.util.HostPrecedingPropertyPlaceholderConfigurer">
          <property name="locations">
               <list>
                    <value>classpath:config.properties</value>
                    <value>classpath:env.properties</value>
               </list>
          </property>
     </bean>          

     <!-- Turn on @Required -->
     <!-- bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" /-->

</beans>